/* HEADER */
.header-container{
    height:80px;
    background-color: #3161e0;
    padding:15px 60px;
    display:flex;
}
/* NAV*/
.header-nav{
    display:flex;
    flex-grow:1;
    height:100%;
}

.header-nav>*{
    flex-basis:20%;
    /* border: 2px dashed black; */
    padding:10px 60px 10px 60px;
    color:white;
}

.nav-link>a{
    color:white;
    text-decoration: none;
    padding:25px;
    font-size:15px;
    font-family:sans-serif;
}

nav:only-of-type{
    flex-grow: 1;
    text-align:center;
    list-style: none;
    line-height:34px;
    /* margin-top:8px; */
}

ul>li{
    display:inline;
}
/* LOGO & BUTTON */
.logo{
    text-align:center;
}

.label{
    text-align:center;
    line-height:13px;
}
.label>button{
    padding:10px;
    border-radius: 20px;
    border:none;
    margin-bottom:10px;
}

button>a{
    color:black;
    text-decoration: none;
    font-size:15px;
    font-family:sans-serif;   
}

/* JUMBOTRON */
.jumbotron{
    padding: 50px 0;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: 10px;;
    width:108%;
    display:flex;
}

.jumbotron>.jumbotron-content{
    min-height:300px;
    width:40%;
    /* border: 2px dashed black; */
    margin:auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:43px;
    color:white;
    text-align:center;
    line-height: 100px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    line-height:28px;
    color:rgb(23, 23, 23);
}
#white{
    color:white;
}

/* JUMBOTRON INPUT */
.jumbotron-input{
    display:flex;
    justify-content: center;
    padding:19px 8px;
}
.jumbotron-input a{
    font-size:16px;
    padding:20px;
}
#black-label a{
    color:white;
}
#black-label button{
    background-color: rgb(35, 35, 35);
    
}

/* MAIN */
/* first section */
.container-white{
    background-color:rgb(246, 245, 245);
    padding:80px 0;
    display:flex;
    justify-content: center;
    gap:100px;
}

.visual-iteml{
    border: 2px dashed black;
    margin: auto 0;
}
.info-text{
    width:20%;
    height:100%;
    /* border: 2px dashed black; */
    margin:28px 0px;
}
h2{
    font-size:40px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:20px;
}
main p{
    line-height: 24px;
}












.element-small{
    background: rgb(57, 149, 211);
    height:300px;
    width:500px;
    border: 2px dashed black;
    margin: auto 0;
}
.element-big{
    background: rgb(245, 135, 212);
    height:300px;
    width:300px;
    border: 2px dashed black;
    margin: auto 0;
}
/* second section */
.container-grey{
    background-color: lightgrey;
    height:400px;
    display:flex;
    justify-content: center;
}

/* fifth section */
.container-big-grey{
    background-color: lightgrey;
    height:700px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.container-big-grey>div{
    border: 2px dashed black;
    width:800px;
    height:600px;
    background-color: green;
}

/* footer */
footer{
    background-color: rgb(27, 26, 26);
    height:550px;
}
footer>div{
    border:2px solid grey; 
    display:flex;
    justify-content: center;
    padding:10px 0 30px 0;
}

footer div.element-small{
    height:500px;
    width:140px;
    background-color: rgb(89, 200, 167);
}
footer div.element-big{
    height:500px;
    width:240px; 
    background-color: rgb(218, 142, 115);
}

/* final bar */
.footer-bar{
    height:100px;
    background-color:rgb(27, 26, 26);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:20px;
}

.footer-bar>div{
    height:80px;
    width:800px;
    background-color: rgb(55, 206, 178);
    display:flex;
    justify-content: space-between;
    padding:10px 0;
}
.bar-elements>div{
    border:2px dashed black;
    height:30px;
    padding:20px;
    line-height:0px;
    background-color:rgb(245, 135, 212);
}